.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  backdrop-filter: blur(10px) brightness(1.2);
}

.modal-content {
  background: rgba(255, 255, 255, 0.9);
  padding: 15px;
  border-radius: 8px;
  width: 85%;
  max-width: 350px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.tabContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.tab {
  padding: 8px 16px;
  font-size: 1em;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #8373DF;
  color: #8373DF;
  border-radius: 8px 8px 0 0;
  transition: 0.2s ease-in-out;
  width: 50%;
  text-align: center;
  position: relative;
  overflow: hidden;
  opacity: 0.6;
}

.tab.active {
  background: rgba(255, 255, 255, 0.25);
  color: #4a3c8d;
  border-color: #8373DF;
  opacity: 1;
  font-weight: bold;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
}

.tab.active::before {
  content: '';
  position: absolute;
  top: 0;
  left: -75%;
  width: 200%;
  height: 100%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  transition: 0.4s ease;
  transform: skewX(30deg);
}

.tab.active:hover::before {
  left: 100%;
}

.tab.active:active {
  box-shadow: none;
}

.formGroup {
  margin-bottom: 10px;
}

.formGroup label {
  display: block;
  margin-bottom: 3px;
  color: #676286;
  font-size: 0.9em;
}

.formGroup input {
  width: 100%;
  padding: 8px;
  border: 1px solid #8373DF;
  border-radius: 6px;
  font-size: 0.95em;
}

.formGroup.checkboxGroup {
  display: flex;
  align-items: center;
  gap: 10px;
}

.formGroup input[type="checkbox"] {
  margin: 0;
}

.bTnContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.confirmLogin, .closeBtn {
  padding: 8px 16px;
  font-size: 0.9em;
  cursor: pointer;
  border-radius: 6px;
  background-color: rgba(131, 115, 223, 0.15);
  color: #8373DF;
  border: 1px solid #8373DF;
  transition: 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
  flex: 1;
  margin-right: 5px;
}

.confirmLogin:last-child {
  margin-right: 0;
}

.confirmLogin::before, .closeBtn::before {
  content: '';
  position: absolute;
  top: 0;
  left: -75%;
  width: 200%;
  height: 100%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.1)
  );
  transition: 0.4s ease;
  transform: skewX(30deg);
}

.confirmLogin:hover::before, .closeBtn:hover::before {
  left: 100%;
}

.confirmLogin:active, .closeBtn:active {
  background-color: #660099;
  color: #4a3c8d;
  border-color: #660099;
  box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.2);
}
